@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
}

.preview>* {
    display: inline-block;
}